* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root {
    --darkgrey:#2D3E40;
    --darkgreen: #387373;
    --lightgreen: #93bfb7;
    --grey:#97a6a05c; 
    --white: #e4f2e7;
    --font1 : 'Montserrat';
}

.bg-primary {
    background-image: linear-gradient(to top, #93bfb7, #69aaaa);
}

.card {
    background: #93bfb7 !important;

}
.alto {
    min-height: 100px;
}
/* NAVBAR */
.navbar-brand {
    font-family: "New Rocker";
}
.nabvar-links {
    font-family: var(--font1);
}
/* GALERY */
.gallery-row .column {
    flex: 33.3%;
}
/* UBICATION */
    .card {
        background-image: linear-gradient(to top, #93bfb7, #69aaaa);
    }
    .card-text i {
        padding: 0 10px;
    }

/* CONTACT */
body{
    background-color: #e5e5f7;
    background-image: url(../assets/images/body-bg.png)
}
/* FOOTER */
.footer__contact-p {
    font-size: .7rem;
}
.footer__social-a {
    text-align: center;
    font-size: 20px;
    color: var(--darkgray);
    padding: 10px;
}
.footer__credits-p {
    font-size: .7rem;
    text-align: center;
}



@media (min-width:768px) {
    /* GALLERY */
    .gallery-row1 {
        min-height: 100px;
        object-fit: cover;
        object-position: center center;
    }
    .img {
        margin: 10px 0 !important;
    }
    .img3, .img4 {
        height: 250px;
        object-fit: cover;
        object-position: center -200px;
    }
    /* FOOTER */
    .footer__contact-p {
        font-size: 1rem;
    }
    .footer__social-a {
        font-size: 2rem;
    }
}

@media (min-width:992px) {
    /* NAVBAR */
    .navbar {
        height: 100px;
    }
    .navbar-brand {
        font-size: 2rem;
    }
    .nav-link {
        font-size: 1.4rem;
    }
    /* GALLERY */
    .img3, .img4 {
        height: unset;
        object-position: unset;
    }
    .img5 {
        height: 200px;
    }
    /* FOOTER */
    .footer {
        height: 250px;
    }
    .footer__content {
        height: 80%;
    }
    .footer__contact-p {
        font-size: 1.5rem;
    }
    .footer__social {
        align-items: center;
    }
    .footer__credits {
        height: 20%;
    }
    .footer__credits-p {
        font-size: 1rem;
    }
}

@media (min-width:1200px) {
    /* GALLERY */
    .img5 {
        height: 350px;
    }
    /* FOOTER */
    .footer__social-a {
        font-size: 3rem;
    }
    
}